# Ignore build artifacts and executables
/build/
*.exe
*.out

# Ignore generated CMake files
/CMakeFiles/
/CMakeCache.txt
/CMakeScripts/
/CMakeScripts/

# Ignore any temporary files or directories
*.swp
*~

# Ignore IDE specific files and directories
.vscode/
.idea/
*.suo
*.sln
*.user
*.user.*
*.sdf

# Ignore any backup files
*.bak
